<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FtGoodsMapper">

    <resultMap id="BaseMap" type="com.ruoyi.system.domain.FtGoods">
        <!--@mbg.generated-->
        <!--@Table ft_goods-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="typer" jdbcType="BOOLEAN" property="typer"/>
        <result column="opener" jdbcType="BOOLEAN" property="opener"/>
        <result column="run_price" jdbcType="DECIMAL" property="runPrice"/>
        <result column="water_num" jdbcType="INTEGER" property="waterNum"/>
        <result column="min_num" jdbcType="INTEGER" property="minNum"/>
        <result column="max_num" jdbcType="INTEGER" property="maxNum"/>
        <result column="good_sex" jdbcType="INTEGER" property="goodSex"/>
        <result column="get_type" jdbcType="BOOLEAN" property="getType"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.FtGoods" extends="BaseMap">
    </resultMap>

    <resultMap id="BaseResponseMap" type="com.ruoyi.system.response.GoodsResponse" extends="BaseMap">
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        title,
        price,
        remark,
        avatar,
        deleted,
        typer,
        opener,
        run_price,
        water_num,
        min_num,
        max_num,
        good_sex,
        get_type
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select *
        from ft_goods
        where id = #{id}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update ft_goods
        set deleted = 1
        where id = #{id}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.ruoyi.system.domain.FtGoods">
        <!--@mbg.generated-->
        insert into ft_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
           <if test="typer != null">
               typer,
           </if>
            <if test="opener != null">
                opener,
            </if>
            <if test="runPrice != null">
                run_price,
            </if>
            <if test="waterNum != null">
                water_num,
            </if>
            <if test="minNum != null">
                min_num,
            </if>
            <if test="maxNum != null">
                max_num,
            </if>
            <if test="goodSex != null">
                good_sex,
            </if>
            <if test="getType != null">
                get_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="typer != null">
                #{typer,jdbcType=BOOLEAN},
            </if>
            <if test="opener != null">
                #{opener,jdbcType=BOOLEAN},
            </if>
            <if test="runPrice != null">
                #{runPrice,jdbcType=DECIMAL},
            </if>
            <if test="waterNum != null">
                #{waterNum,jdbcType=INTEGER},
            </if>
            <if test="minNum != null">
                #{minNum,jdbcType=INTEGER},
            </if>
            <if test="maxNum != null">
                #{maxNum,jdbcType=INTEGER},
            </if>
            <if test="goodSex != null">
                #{goodSex,jdbcType=INTEGER},
            </if>
            <if test="getType != null">
                #{getType,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.FtGoods">
        <!--@mbg.generated-->
        update ft_goods
        <set>
            title     = #{title,jdbcType=VARCHAR},
            remark    = #{remark,jdbcType=VARCHAR},
            avatar    = #{avatar,jdbcType=VARCHAR},
            typer     = #{typer,jdbcType=BOOLEAN},
            opener    = #{opener,jdbcType=BOOLEAN},
            price     = #{price,jdbcType=DECIMAL},
            run_price = #{runPrice,jdbcType=DECIMAL},
            water_num = #{waterNum,jdbcType=INTEGER},
            min_num   = #{minNum,jdbcType=INTEGER},
            max_num   = #{maxNum,jdbcType=INTEGER},
            good_sex  = #{goodSex,jdbcType=INTEGER},
            get_type  = #{getType,jdbcType=BOOLEAN},
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.FtGoods">
        <!--@mbg.generated-->
        update ft_goods
        set title   = #{title,jdbcType=VARCHAR},
            price   = #{price,jdbcType=DECIMAL},
            remark  = #{remark,jdbcType=VARCHAR},
            avatar  = #{avatar,jdbcType=VARCHAR},
            deleted = #{deleted,jdbcType=BOOLEAN}
        where id = #{id}
    </update>

    <update id="setOpen" parameterType="java.lang.String">
        update ft_goods
        set opener = #{flag}
        where id = #{id}
    </update>

    <select id="selectList" resultMap="BaseResponseMap">
        select
        <include refid="Base_Column_List"/>
        from ft_goods
        where deleted = 0
        <if test="goods.title != null and goods.title != ''">
            and title like concat('%', #{goods.title}, '%')
        </if>
        order by id desc
    </select>
</mapper>