<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FtOrderMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.response.OrderResponse">
        <!--@mbg.generated-->
        <!--@Table ft_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="payed" jdbcType="BOOLEAN" property="payed"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="BIGINT" property="userName"/>
        <result column="user_phone" jdbcType="BIGINT" property="userPhone"/>
        <collection property="orderElementsResponses"
                    javaType="java.util.List" resultMap="elements"/>
    </resultMap>

    <resultMap id="elements" type="com.ruoyi.system.response.OrderElementsResponse">
        <result column="order_id" jdbcType="BOOLEAN" property="orderId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="goods_name" jdbcType="TIMESTAMP" property="goodName"/>
        <result column="number" jdbcType="TIMESTAMP" property="number"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        status,
        payed,
        user_id,
        address_id,
        deleted,
        create_time
    </sql>

    <sql id="Base_Column_Goods_HOME_User_List">
        select fo.id,
               fo.create_time,
               fo.payed,
               fo.address_id,
               fo.status,
               fo.user_id,
               fu.user_name   as user_name,
               fu.phonenumber as user_phone,
               fg.title       as goods_name,
               fg.price,
               a.address,
               oe.goods_id,
               oe.number,
               oe.order_id
        from ft_order fo
                 inner join address a on fo.address_id = a.id
                 inner join order_elements oe on fo.id = oe.order_id
                 inner join ft_goods fg on oe.goods_id = fg.id
                 inner join sys_user fu on fo.user_id = fu.user_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ft_order
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        update ft_order
        set deleted = 1
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.ruoyi.system.domain.FtOrder">
        <!--@mbg.generated-->
        insert into ft_order (address_id, status,user_id,
                              create_time, payed)
        values (#{addressId,jdbcType=BIGINT},
                #{status,jdbcType=INTEGER},#{userId,jdbcType=BIGINT},
                now(), #{payed,jdbcType=BOOLEAN})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.ruoyi.system.domain.FtOrder">
        <!--@mbg.generated-->
        insert into ft_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="addressId != null">
                address_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="payed != null">
                payed,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="addressId != null">
                #{addressId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payed != null">
                #{payed,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.FtOrder">
        <!--@mbg.generated-->
        update ft_order
        <set>
            <if test="addressId != null">
                address_id = #{addressId,jdbcType=BIGINT},
            </if>
            <if test="payed != null">
                payed = #{payed,jdbcType=BOOLEAN},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.FtOrder">
        <!--@mbg.generated-->
        update ft_order
        set address_id = #{addressId,jdbcType=BIGINT},
            payed     = #{payed,jdbcType=BOOLEAN},
            status    = #{status,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <select id="selectList" resultMap="BaseResultMap">
        <include refid="Base_Column_Goods_HOME_User_List"/>
        where fo.deleted = 0
          and fg.deleted = 0
          and fu.del_flag = 0
        <if test="order.keyword != null and order.keyword != ''">
            and (
                    fg.title like concat('%', #{order.keyword}, '%')
<!--                    or fh.name like concat('%', #{order.keyword}, '%')-->
                    or fu.user_name like concat('%', #{order.keyword}, '%')
                    or fu.phone = #{order.keyword}
                )
        </if>

        <if test="order.addressId != null">
            and a.id = #{order.addressId}
        </if>

        <if test="order.userId != null">
            and fo.user_id = #{order.userId}
        </if>

        <if test="order.status != null">
            and fo.status = #{order.status}
        </if>
        order by fo.id desc
    </select>
</mapper>