<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserGoodsMapper">

    <resultMap type="com.ruoyi.system.domain.UserGoods" id="UserGoodsResult">
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="number" column="number"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <delete id="deleteUserGoodsByUserIdAndGoodsId" parameterType="Long">
        update user_goods
        set is_deleted = 1
        where user_id = #{userId}
        and goods_id = #{goodsId}
    </delete>

    <insert id="batchUserGoods">
        insert into user_goods(user_id, goods_id,number) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId}, #{item.goodsId},#{item.number})
        </foreach>
    </insert>

    <select id="selectByGoodsId" resultMap="UserGoodsResult">
        select user_id, goods_id, is_deleted,number
        from user_goods
        where goods_id = #{goodsId}
    </select>

    <insert id="insert">
        insert into user_goods(user_id, goods_id,number)
        values (#{userId}, #{goodsId},#{number})
    </insert>

    <select id="selectByUserId" resultMap="UserGoodsResult">
        select user_id, goods_id,number
        from user_goods
        where user_id = #{userId}
    </select>

    <select id="getUserGoods" resultMap="UserGoodsResult">
        select user_id, goods_id,number
        from user_goods
    </select>

    <insert id="insertBatch">
        insert into user_goods(user_id, goods_id,number) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId}, #{item.goodsId},#{item.number})
        </foreach>
    </insert>
</mapper>